/* 

Content

    1. CSS Imports
    2. General Styles
    3. Sidebar
    4. Content
    5. Preferences form
    6. Sign in form
    7. tables.html
    8. Bootstrap overrides
    9. Maps
    10. Media Queries
	
--------------------------------------- */

/* 1. CSS Imports
-------------------------------------------------------------------------------------------------*/

/* @import url('http://fonts.googleapis.com/css?family=Open Sans:300,400,700'); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Inter:wght@300;400;500&display=swap");
@import url(../icon/bootstrap-icons.css);
@import url(bootstrap.css);

/* 2. General Styles
-------------------------------------------------------------------------------------------------*/

* {
    font-family: 'Inter', 'Open Sans', sans-serif;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #16151a;
    width: 100%;
    /* overflow: hidden; */
    text-align: justify;
}

img {
    border-radius: 6px;
}

hr {
    background-color: rgb(180, 180, 180);
    border: none;
    height: 1px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.set-border {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(34, 34, 39);
    border-radius: 6px;
    padding: 20px;
}

.set-space {
    padding-left: 3em;
}


.icon-area {
    padding: 0 1em;
    max-width: fit-content;
}

/* Banner */
.banner {
    width: 100%;
    color: rgb(180, 180, 180);
    padding: 1em;
    background-position: center;
    background-color: rgb(34, 34, 39);
    border-radius: 6px;
    width: 14em;
    font-size: 0.9em;
}

/* --------------- Fonts --------------- */
body {
    color: rgb(180, 180, 180);
    font-size: 1em;
    font-weight: 300;
    transition: 0.5s;
    text-decoration: none;
}

body a,
body a>i {
    color: rgb(180, 180, 180);
    font-size: 1.04em;
    font-weight: 500;
    transition: 0.5s;
    text-decoration: none;
}

body a:hover i,
body a:hover {
    text-decoration: none;
    color: rgb(30, 255, 255);
}

body .active a,
body .active a i {
    color: rgb(30, 255, 255);
}

.text-color {
    color: rgb(30, 255, 255);
}

.text-glow {
    /* font-size: 1.1em; */
    transition: color 420ms;
}

.text-sm {
    font-size: 0.93em;
}

.text-sm a {
    font-size: 0.93em;
}

.glow {
    color: rgb(30, 255, 255);
}

.bold {
    font-weight: 500;
}

.gold-border {
    border-color: rgb(255, 202, 44, 0.2);
}

.text-justify {
    text-align: justify;
}

body h1 {
    font-size: 2.2em;
    font-weight: 500;
    color: rgb(230, 230, 230);
}

body h2 {
    font-size: 1.2em;
}

body h3 {
    color: rgb(225, 225, 225);
    font-size: 1.6em;
    font-weight: 500;
}

.add-menu,
.add-menu>a {
    font-size: 0.95em;
}

.add-menu a:hover i {
    color: rgb(30, 255, 255);
}

#logo {
    width: 180px;
    height: auto;
}

.logo {
    margin-bottom: 10px;
    height: 180px;
    text-align: center;
    margin-top: 30px;
}

.form-control,
.form-control:focus,
.form-control:active {
    --bs-body-bg: rgb(34, 34, 39);
    border: none;
    box-shadow: none;
    --bs-body-color: rgb(180, 180, 180);
}

.form-control::-moz-placeholder {
    --bs-secondary-color: rgb(180, 180, 180, 0.5);
}

.form-control::placeholder {
    --bs-secondary-color: rgb(180, 180, 180, 0.5);
}

.btn {
    padding: 0.3em 0.6em;
}

.btn>i {
    color: rgb(180, 180, 180);
    transition: color 420ms;
}

.btn:hover>i {
    color: rgb(30, 255, 255);
}

.submit>.btn>i {
    color: white;
    transition: color 420ms;

}

.submit>.btn:hover>i {
    color: black;

}

.btn-on {
    color: rgb(180, 180, 180);
    font-size: 0.8em;
    font-weight: 400;
    background-color: rgb(11, 95, 96);
    border: solid 0.1em rgb(11, 95, 96);
    transition: background-color 420ms, border 420ms;

    --bs-btn-hover-color: rgb(30, 255, 255);
    --bs-btn-hover-bg: rgb(34, 34, 39);
    --bs-btn-hover-border-color: rgb(19, 159, 159);
    --bs-btn-active-color: rgb(180, 180, 180);
    --bs-btn-active-bg: rgb(34, 34, 39);
    --bs-btn-active-border-color: rgb(180, 180, 180, 0.4);
}

.btn-off {
    color: rgb(180, 180, 180);
    font-size: 0.8em;
    font-weight: 400;
    background-color: rgb(34, 34, 39);
    border: solid 0.1em rgb(34, 34, 39);
    transition: background-color 420ms, border 420ms;

    --bs-btn-hover-color: rgb(30, 255, 255);
    --bs-btn-hover-bg: rgb(34, 34, 39);
    --bs-btn-hover-border-color: rgb(19, 159, 159);
    --bs-btn-active-color: rgb(180, 180, 180);
    --bs-btn-active-bg: rgb(34, 34, 39);
    --bs-btn-active-border-color: rgb(180, 180, 180, 0.4);
}

.btn-carousel {
    padding: 0.6em 3em;
    color: white;
    font-size: 0.9em;
}



/* --------------- Scroll Bar --------------- */
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(192, 192, 192);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* 3. Header 
-------------------------------------------------------------------------------------------------*/
.header {
    display: block;
    position: fixed;
    background-color: #16151a;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    border-bottom: 1px solid #222227;
    z-index: 100;
}

.header-nav {
    display: flex;
    flex-direction: row;
    color: rgb(180, 180, 180);
    height: 70px;
    align-items: center;
}

.header-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo {
    width: auto;
    height: 31px;
}

.search {
    display: flexbox;
    width: 400px;
}

.search-sm {
    display: flexbox;
    width: 100%;
}

.close-toggle {
    display: block;
}

/* --------------- close Button --------------- */
.close-toggler {
    display: none;
    cursor: pointer;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    margin: 0px;
    padding: 6px;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 3px;
    background-color: rgb(180, 180, 180);
    margin-bottom: 4px;
    transition: 0.4s;
}

.bar3 {
    margin-bottom: 0px;
    ;
}

.change .bar1 {
    transform: translate(0, 7px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -7px) rotate(45deg);
}

/* 4. Sidebar
-------------------------------------------------------------------------------------------------*/

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 280px;
    height: 100vh;
    float: left;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    background-color: #16151a;
    border-right: 1px solid rgb(34, 34, 39);
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.hide {
    transform: translateX(-100%);
}

.menu-area {
    height: calc(100% - 200px);
    overflow-y: auto;
}

.sidebar .menu>li>a>i {
    display: inline-block;
    padding-right: 15px;
    text-align: center;
}

.sidebar .menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .menu>li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
}

.sidebar .menu>li>a {
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    padding: 25px 20px 0 35px;
}

.sidebar .menu-gold {
    font-size: 1.04em;
    font-weight: 500;
    margin-left: 20px;
    padding: 10px;
    padding-left: 15px;
    border-radius: 6px 0px 0px 6px;
    border: none;
    transition: background-color 420ms, border 420ms, color 420ms;

    color: rgb(180, 180, 180);
    background-color: rgb(34, 34, 39);
    cursor: pointer;
}

.sidebar .menu-gold:hover,
.sidebar .menu-gold.active {
    color: white;
    background-color: rgb(255, 202, 44, 0.4);
}

.sidebar .menu-gold i {
    color: rgb(180, 180, 180);
    padding-right: 20px;
    transition: color 420ms;
}

.sidebar .menu-gold:hover i {
    color: white;
}

.sidebar li.has-sub .submenu {
    display: none;
}

.sidebar li.has-sub.open .submenu {
    display: block;
}

.sidebar .submenu {
    background-color: rgb(34, 34, 39);
    padding-bottom: 15px;
    margin-top: 20px;
    list-style: none;
}

.submenu>li>a {
    display: block;
    padding: 15px 5px 0px 30px;
    margin: 0;
    transition: 0.5s;
    font-size: 0.9em;
}

/* 5. Content Area
-------------------------------------------------------------------------------------------------*/
/* .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: rgb(34, 34, 39);
} */

.right-area {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 71px);
    margin-left: 280px;
}

.content {
    padding: 2em;
    margin-top: 0px;
    flex-grow: 1;
}

.breadcrumb,
.breadcrumb>a {
    font-size: 0.95em;
}

.breadcrumb-arrow {
    font-size: 0.8em;
    margin-right: 3px;
    margin-left: 3px;
    align-self: self-end;
}

/* 6. Index
-------------------------------------------------------------------------------------------------*/
.carousel-inner {
    margin-bottom: 30px;
}

.carousel-item {
    width: 100%;
    height: 540px;
    border-radius: 6px;
    transition: all 1s ease-out;
}

.carousel-item .carousel-caption {
    background-color: rgb(22, 21, 26, 0.85);
    padding: 20px;
    border-radius: 6px;
    top: 20%;
    bottom: inherit;
    left: 50px;
    right: 50px;
    width: fit-content;
    max-width: 600px;
    text-align: left;
    margin: auto 0;
}

.carousel-indicators {
    align-content: center;
    bottom: -5%;
}

.carousel-indicators [data-bs-target] {
    transform-origin: left;
    transition: all 1s ease-out;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    align-self: center;
    margin-right: 5px;
    margin-left: 5px;
}

.carousel-indicators .active {
    height: 16px;
    width: 16px;
    /* border-radius: 0%; */
    /* background-color: rgb(19, 159, 159);     */
    pointer-events: none;

}

/* 6. Artist
-------------------------------------------------------------------------------------------------*/
.imgborder {
    height: 100%;
    text-align: left;
    border: 1px solid rgb(34, 34, 39);
    border-radius: 6px;
    box-shadow: 0px 2px 2px -1px rgb(30, 255, 255);
    cursor: pointer;
    transition: box-shadow 420ms, border 420ms, color 420ms, box-shadow 420ms;
}

.imggalbox {
    height: 100%;
    /* border: 10px solid rgb(34, 34, 39, 0); */
    background-color: rgb(34, 34, 39, 0);
    border-radius: 6px;
    padding: 10px;
    transition: background-color 420ms;
}

.img-setup {
    font-weight: 400;
}

.bg-img-wrapper {
    height: 15em;
    overflow: hidden;
}

.bg-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    transition: transform 1s;
    transform-origin: top;
}

.imgborder:hover {
    border: 1px solid rgb(30, 255, 255);
    box-shadow: none;
}

.imgborder:hover .text-glow {
    color: rgb(30, 255, 255);
}

.imgborder:hover .bg-img {
    transform: scale(1.1);
    transform-origin: top;
}

.imgborder:hover .imggalbox {
    background-color: rgb(34, 34, 39);
    /* border: 10px solid #6c757d; */
}

.artist-detail {
    display: flex;
    margin-bottom: 20px;
}

.artist-img {
    flex: 1;
    max-width: 300px;
    margin-right: 30px;
}

.album-img {
    max-width: 400px;
}

.artist-desc {
    flex: 1;
    width: auto;
    text-align: justify;
}

/* 6. Video Streaming
-------------------------------------------------------------------------------------------------*/
.playerArea {
    border: 1px solid rgb(80, 80, 80);
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    /* max-width: 100%; */
    justify-self: center;
    margin: auto;
    /* box-shadow: 0px 2px 2px -1px rgb(30, 255, 255); */
}

.setPlay {
    padding-bottom: 56.25%;
    /* Untuk rasio aspek video 16:9 */
    position: relative;
    width: 100%;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 6px;
}

.setPlay iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

/* 7. Footer
-------------------------------------------------------------------------------------------------*/
.footer-area {
    background-color: rgb(34, 34, 39);
    padding: 2em;
    margin-top: 0px;
}

/* .footer-area a {
    font-size: 0.90em;
} */


.footer-logo {
    font-size: 1.2em;
}

.foot-order1 {
    order: 1;
}

.foot-order2 {
    order: 2;
}

.socmed {
    text-align: right;
    font-size: 1.3em;
    align-self: center;
    max-width: 300px;
}

.copyright {
    text-align: left;
    align-self: center;
    font-size: 0.93em;
}

/* 10. Media Size Queries
-------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {
    .header {
        position: relative;
        padding-left: 320px;
        padding-right: 40px;
    }

    .header-nav {
        justify-content: space-between;
    }

    .header-box-sm,
    .header-search-sm {
        display: none
    }
}

@media screen and (max-width: 1200px) {
    .header {
        position: fixed;
        padding-left: 40px;
        padding-right: 40px;
    }

    .header-nav {
        justify-content: space-between;
    }

    .header-box-bg,
    .search {
        display: none
    }

    .header-search-sm {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: #16151a;
        z-index: 1;
        padding: 0 20px;
        transition: transform 0.5s ease;
        transform: translateX(+100%);
    }

    .close-toggler {
        display: inline-block;
    }

    .right-area {
        margin-left: 0px;
        margin-top: 70px;
    }

    .sidebar {
        transform: translateX(-100%);
    }

    .carousel-item {
        height: 440px;
    }

    .carousel-inner {
        margin-bottom: 15px;
    }

    .carousel-indicators {
        bottom: -40px
    }

    .carousel-item .carousel-caption {
        top: 15%;
    }

    .hide,
    .show {
        transform: translateX(0);
    }

}

@media screen and (max-width: 992px) {
    .header {
        padding-left: 30px;
        padding-right: 30px;
    }

    .carousel-item {
        height: 340px;
    }

    .content,
    .footer-area {
        padding: 30px;
    }

    .artist-img {
        max-width: 240px;
        min-width: 200px;
    }

    .set-space {
        margin-top: 3em;
    }
}

@media screen and (max-width: 767px) {
    .carousel-item .carousel-caption {
        top: 10%;
    }

    .artist-img {
        max-width: 200px;
        min-width: 200px;
    }

    .foot-order1 {
        order: 2;
        margin-top: 1.5em;
    }

    .foot-order2 {
        order: 1;
    }

    .socmed,
    .copyright {
        text-align: center;
        max-width: inherit;
    }
}

@media screen and (max-width: 576px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .content,
    .footer-area {
        padding: 1em;
    }

    .carousel-inner {
        margin-bottom: 10px;
    }

    .carousel-item .carousel-caption {
        left: 20px;
        right: 20px;
    }

    .carousel-indicators {
        bottom: -45px
    }

    .carousel-indicators [data-bs-target] {
        height: 10px;
        width: 10px;
    }

    .carousel-indicators .active {
        height: 13px;
        width: 13px;
    }

    .artist-detail {
        display: block;
        text-align: center;
    }

    .artist-img {
        display: inline-block;
        max-width: 250px;
        margin-bottom: 20px;
    }

    .artist-desc {
        width: auto;
    }

    .btn-carousel {
        padding-left: 12px;
        padding-right: 12px;
    }
}


/* 11. Pagination Setup
-------------------------------------------------------------------------------------------------*/
.paginate {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.paginate span.active {
    pointer-events: none;
}